<section>
    <div class="row g-0">
        <div class="col-lg-7 d-none d-lg-block">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item img-1 ih-adjust active">
                    </div>
                    <div class="carousel-item img-2 ih-adjust">
                    </div>
                    <div class="carousel-item img-3 ih-adjust">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-5 d-flex flex-column align-items-end ih-adjust">
            <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 align-logo w-100 mb-auto">
                <img src="/images/logo.png" class="logo">
                <h1>Take Care Sister!</h1>
            </div>
            <div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">
                <h1 class="font-weight-bold mb-2">We'll keep strong!</h1>
                <p>Sign up to post and comment.</p>
                <form class="mb-5" action="/signup" method="POST">
                    <div class="mb-4">
                        <input type="text" name="username" class="form-control bg-dark-x border-0 mb-2" placeholder="Username" id="username">
                        <p class="form-text text-muted">Enter your unique username.</p>
                    </div>
                    <div class="mb-4">
                        <input type="email" name="email" class="form-control bg-dark-x border-0 mb-2" placeholder="Email"
                            id="email">
                        <p class="form-text text-muted">We'll never share your email with anyone else.</p>
                    </div>
                    <div class="mb-4">
                        <input type="password" name="password" class="form-control bg-dark-x border-0 mb-2" placeholder="Password"
                            id="password">
                        <p class="form-text text-muted">Your password must be 6 characters , lowercase, uppercase letters and numbers.</p>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 border-0">Sign up</button>
                    {{#if msg}}
                        <p>{{msg}}</p>
                    {{/if}}
                </form>
                <p class="text-center text-muted">Or Sign up with:</p>
                <div class="d-flex justify-content-around">
                    <button type="submit" class="btn btn-outline-light flex-grow-1 mr-2 flex-elements">
                        <div class="google"></div>
                        Google
                    </button>
                    <button type="submit" class="btn btn-outline-light flex-grow-1 ml-2 flex-elements">
                        <div class="facebook"></div>
                        Facebook
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>