<div class="title-page adj-title-create">
    <h1>Create an agressor</h1>
    <a href="/agressors">Go back</a>
</div>
<div class="col-lg-5 d-flex flex-column align-items-end">
    <div class="px-lg-5 pt-lg-4 pb-lg-3 align-logo w-100 mb-0">
        <img src="/images/poop.png" class="logo">
        <h1>Characteristics of the aggressor</h1>
    </div>
    <div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center ">
        <form class="mb-5" action="/agressors/create" method="POST" enctype="multipart/form-data">
            <div class="mb-4">
                <input type="text" name="name" class="form-control bg-dark-x border-0 text-muted" id="name" placeholder="Name">
            </div>
            <div class="mb-4">
                <input type="text" name="address" id="address" class="form-control bg-dark-x border-0 text-muted" placeholder="Address"/>
            </div>
            <div class="mb-4">
                <input type="text" name="city" id="city" class="form-control bg-dark-x border-0 text-muted" placeholder="City"/>
            </div>
            <div class="mb-4">
                <select name="state" id="state" class="form-control bg-dark-x border-0 mb-2 text-muted">
                    <option selected='true' disabled>Selet State</option>
                    <option value="Aguascalientes">Aguascalientes</option>
                    <option value="Baja California">Baja California</option>
                    <option value="Baja California Sur">Baja California Sur</option>
                    <option value="Campeche">Campeche</option>
                    <option value="Coahuila">Coahuila</option>
                    <option value="Colima">Colima</option>
                    <option value="Chiapas">Chiapas</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="Ciudad de Mexico">Ciudad de Mexico</option>
                    <option value="Durango">Durango</option>
                    <option value="Guanajuato">Guanajuato</option>
                    <option value="Guerrero">Guerrero</option>
                    <option value="Hidalgo">Hidalgo</option>
                    <option value="Jalisco">Jalisco</option>
                    <option value="Edo. Mx.">Edo. Mx.</option>
                    <option value="Michoacan">Michoacan</option>
                    <option value="Morelos">Morelos</option>
                    <option value="Nayarit">Nayarit</option>
                    <option value="Nuevo Leon">Nuevo Leon</option>
                    <option value="Oaxaca">Oaxaca</option>
                    <option value="Puebla">Puebla</option>
                    <option value="Queretaro">Queretaro</option>
                    <option value="Quintana Roo">Quintana Roo</option>
                    <option value="San Luis Potosi">San Luis Potosi</option>
                    <option value="Sinaloa">Sinaloa</option>
                    <option value="Sonora">Sonora</option>
                    <option value="Tabasco">Tabasco</option>
                    <option value="Tamaulipas">Tamaulipas</option>
                    <option value="Tlaxcala">Tlaxcala</option>
                    <option value="Veracruz">Veracruz</option>
                    <option value="Yucatan">Yucatan</option>
                    <option value="Zacatecas">Zacatecas</option>
                </select>
            </div>
            <div class="mb-4">
                <textarea name="description" cols="30" rows="4" class="form-control bg-dark-x border-0 text-muted" id="description" placeholder="Please add the indictment"></textarea>
            </div>
            <div class="mb-4">
                <input type="file" name="newImage" class="form-control-file" id="image" />
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-100 border-0">Upload data</button>
            </div>
            {{#if msg}}
            <p>{{msg}}</p>
            {{/if}}
        </form>
    </div>
</div>