<div class="title-page">
    <h1>About</h1>
</div>
<div class="container-details about-view">
    <div class="ctn-details">
        <div class="right-elems">
            <div>
                <img src="/images/logo.png" class="img-details about-view-img">
                
            </div>
        </div>
        <div class="body-details">
            <h2>Take Care Sister!</h2>
            <p>
                Hi there evrybody and welcome.
            </p>
            <p class="about-view-text"> 
                In mexico evry day, around 10 womens die because of femicide. Take care sister is a wep app that try to help womans to detect agressors and be careful if you meet any, in Mexico we know this as "Tendedero de denuncias", is just expose an agressor based in a previus experience.
            </p>
        </div>
    </div>
</div>